<div id="content" class="row">

    {% for i in [a,b,c,d,e,f,liuchang,h,i,j,k,l] %}
    <div class="col-lg-1 person" style="text-align:center;">
        {% for j in range(01,32) %}

            <img class="img-circle img-thumbnail tooltip-show" width="70px" 
                src="http://hdn.xnimg.cn/photos/hdn321/20130612/2235/h_main_NNN4_e80a000007df111a.jpg"
                data-toggle="tooltip" data-placement="top"
                title="是非成败转头空，青山依旧在，几度夕阳红。">
            <a class="tooltip-show" data-toggle="tooltip" data-placement="top" title="aaa">19{{j}}</a>
<!--
-->
        {% endfor %}
    </div>
    {% endfor %}

<!--
    <div class="col-lg-1">
        <p>1</p>
    </div>

    <div class="col-lg-1">
        <p>1</p>
    </div>

    <div class="col-lg-1">
        <p>1</p>
    </div>

    <div class="col-lg-1">
        <p>1</p>
    </div>

    <div class="col-lg-1">
        <p>1</p>
    </div>

    <div class="col-lg-1">
        <p>1</p>
    </div>

    <div class="col-lg-1">
        <p>1</p>
    </div>

    <div class="col-lg-1">
        <p>1</p>
    </div>

    <div class="col-lg-1">
        <p>1</p>
    </div>
-->

</div>
